<%= form_for(@bof) do |f| %>
  <% if @bof.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bof.errors.count, "error") %> prohibited this bof from being saved:</h2>

      <ul>
      <% @bof.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
      <%= f.label :name, "Speaker Name" %><br />
      <%= f.text_field :name %>
    </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
