<h1>Listing Birds of a Feather</h1>

<table class="table-striped table">
  <tr>
    <th>#</th>
    <th>Speaker Name</th>
    <th>Title</th>
    <th>Description</th>
  </tr>

<% @bofs.each_with_index do |bof, idx| %>
  <tr>
    <td><%= idx.next %></td>
    <td><%= bof.title %></td>
    <td><%= bof.description %></td>
    <td><%= bof.name %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bof', new_bof_path %>
