<h1>Listing Lightning Talks</h1>

<table class="table-striped table">
  <tr>
    <th>#</th>
    <th>Speaker Name</th>
    <th>Title</th>
    <th>Description</th>
  </tr>

<% @lightning_talks.each_with_index do |lightning_talk, idx| %>
  <tr>
    <td><%= idx.next %></td>
    <td><%= lightning_talk.name %></td>
    <td><%= lightning_talk.title %></td>
    <td><%= lightning_talk.description %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lightning talk', new_lightning_talk_path %>
